header{
    background-color: lightblue;
}

.navBar{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.25rem;
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color: white;
}
main section h2{
    justify-content: center;
    color: black;
}